.nav-links {
    list-style: none;
    margin: 2;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  
.nav-links li {
    font-size: 17px;
    font-style: oblique;
    padding: 10px;
    margin: 0.5em;
    height: auto;
    width: auto;
    background: #00B5DF;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
}


  
.nav-links a {
    padding: 0.5rem;
    color: #ede8e8;

    text-decoration: none;
    width: 300px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}
  
.nav-links a:hover,
.nav-links a:active {
    background: #00cfff;
    color: #ede8e8;
    text-decoration: underline;
}
