.footer-main-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #303032;
}

.footer-logo-div {
    margin: 1em;
    align-items: center;
    padding-top: 1.5em;
}

.footer-info-div {
    margin: 1em;
}

.footer-info-div p{
    color: #ede8e8;
}

.footer-info-div p a {
    color: #ede8e8;
}