.accueil {
    background-color: bisque;
    list-style: none;
    border: 3px solid #08060c;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem;
}

.titre{
    padding: 0.5rem;
    margin: 1rem;  
    

    text-transform: uppercase;
    font-size: 48px;
    font-weight: 400;
    color: #303032;
    font-family: 'News Cycle', sans-serif;
}

.sous-titre {
    padding: 0.5rem;
    margin: 1rem;  

    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    color: #303032;
    font-family: 'News Cycle', sans-serif;
}