.number{
    list-style-type: decimal;
    background-color: bisque;
    border: 3px solid #08060c;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem;
}

.infos{
    list-style-type: decimal;
    background-color: rgb(160, 148, 232);
    border: 3px solid #08060c;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
}

.titre {
    padding: 0.5rem;
    margin: 1rem;
}

.section{
    border: 1px solid black;
}